.homeset {
    padding: 5px;
    width: auto;
    cursor: pointer;
}

.card {
    color: black;
    max-width: 20rem;
}

.cosimgdiv {
    background: #000;
}

.cosditls {
    color: #000;
}

.cosditls h4,
span {
    color: #000;
    padding: 5px 3px 3px 3px;
}