* {
    margin: 0;
    color: white;
}

.banner {
    background-color: #fff;
    width: auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.content-welcom {
    padding-top: 15%;
    height: 190px;
    padding-left: 5%;
    padding-right: 5%;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0, 3rem;
}

.icon {
    padding-top: 12%;
    min-width: 300px;
    max-width: 500px;
}

.btn {
    color: black;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(117, 113, 113, 0.5);
    cursor: pointer;
    margin-right: 1rem;
}

.btn:hover {
    color: #e6e6e6;
    background-color: #111;
}

@media (max-width: 570px) {
    .banner {
        display: block;
        justify-content: stretch;
    }
    .content-welcom {
        padding-top: 23%;
    }
    .title {
        font-weight: 800;
        padding-bottom: 0, 0;
    }
    .icon {
        padding-top: 280px;
    }
}