.mobile-container {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: centre;
    justify-content: centre;
    background: url('./mobile.jpg');
    background-position: 2px (adjust with your preference);
    background-repeat: no-repeat;
    position: relative;
}

.left {
    position: absolute;
    top: 100px;
    left: 140px;
    width: 500px;
    height: 720px;
    float: left;
}

.title {
    top: 12px;
    left: 14%
}

.mob-links {
    position: ;
    left: 300px;
    top: 170px;
}

.btn0 {
    position: absolute;
    top: 5%;
    left: 15%;
}

.btn1 {
    position: absolute;
    top: 5%;
    left: 25%;
}

.btn2 {
    position: absolute;
    top: 5%;
    left: 35%;
}

.ques {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 175px;
}

.ques1 {
    position: absolute;
    top: 18%;
    left: 20%;
    width: 175px;
}

.ques2 {
    position: absolute;
    top: 21%;
    left: 20%;
    width: 175px;
}

.btn-login {
    position: absolute;
    top: 50%;
    left: 18%;
}

.btn-signin {
    position: absolute;
    top: 50%;
    left: 35%;
}

.btn-login,
.btn-signin {
    color: black;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: rgba(117, 113, 113, 0.5);
    cursor: pointer;
    margin-right: 0.5rem;
}

.btn-login,
.btn-signin:hover {
    color: #e6e6e6;
    background-color: rgb(255, 109, 11);
}