.modalBackground {
    height: fit-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 400px;
    height: auto;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.modalContainer .title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    text-align: center;
    font-family: cursive;
}

.st {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.ifont {
    font-size: 70px;
}

.sfont {
    font-size: 20px;
}

@media only screen and (max-width: 550px) {
    .st {
        width: 50px;
        height: 50px;
    }
    .modalContainer {
        width: 380px;
    }
    .ifont {
        font-size: 30px;
    }
}