@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== BASE ===============*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 var(--header-width);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*=============== HEADER ===============*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    z-index: var(--z-fixed);
    transition: .4s;
}


/*=============== NAV ===============*/

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-weight: 600;
    font-size: 30px;
    padding-left: 25px;
}

.notti_links {
    color: #fff;
    padding-right: 45px;
}

.nav__link {
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    color: var(--title-color);
    font-weight: 500;
}

.nav__list {
    justify-content: space-around;
    padding-top: 30px;
}

.nav__name {
    font-size: var(--tiny-font-size);
}

.nav__icon {
    font-size: 1.5rem;
}


/*Active link*/

.active-link {
    position: relative;
    color: var(--first-color);
    transition: .3s;
}

.scroll-header {
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}


/*=============== SIDE BAR ===============*/

.nav__menu {
    position: fixed;
    top: 50;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: var(--header-width);
    height: 100vh;
    transition: .4s;
}


/*=============== MEDIA QUERIES ===============*/


/* For small devices */

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--container-color);
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 3rem;
        padding: 0 1rem;
        display: grid;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
        z-index: 10;
    }
    .nav__list,
    .nav__link {
        padding-top: 0.2rem;
        display: flex;
    }
    body {
        margin: var(--header-height) 0;
    }
}